header {
    display: block;
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto 100%;
    margin-bottom: 60px;
    min-height:0%;
    padding-top: 20px;
    display: flex;
    -webkit-box-direction: normal;
    flex-direction: column;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

img {
    width: 100%;
    max-width: 100%;
    margin: top 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: -20%;

}

button {
    background-color: white;
    width: 100%;
    height: 60px;
    border: 60px lightgreen;
    border-radius: 6px;
    font-size: larger;
    font-weight: bold;
    align-content: left;
}

button:hover {
    background-color: lightgreen;
    color: white;
}

#enlace-registro {
    color: black;
}

.Registro {
    width: 100%;
    height: 70px;
    text-align: center;
    background-color: lightgreen;
    font-size: 25px;
    font-family: 'calibri';
    font-weight: bold;
    line-height: 220%;

}

/* form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

form {
    
    max-width: 300px;
    padding: 30px;
    background-color: lightgreen;
    margin: 0 auto;
    margin-top: 70px;
    font-family: 'calibri';
    font-size: 25;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
 }

form input {
    margin-left: 20px;
    display: block;
    margin-bottom:20px; 
    width: 200px;
    background-color: snow;
    border-radius: 6px;
    border-color: transparent;
}

#btn-submit-form {
    margin-top: 30px;
    font-family: 'calibri';
    font-size: larger;
    font-weight: bold;
    height: fit-content;
    width: 70%
}

#btn-submit-form:hover {
    border-radius: 6px;
    background-color: rgb(58, 121, 30);
}

label{
    font-size: 20px;
}